<div class="col-10 offset-1">
  <div class=" container">
    <h1 class="display-4 title">Submit your Design Request</h1>
    <%= simple_form_for @device do |f| %>
      <%= f.input :manufacturer %>
      <%= f.input :model %>
      <%= f.input :description %>
      <br/>
      <%= f.submit 'Submit', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
